# Meson Wrap subprojects
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/

# ignore all build files
build/
.cache/

# IDE stuff
.vscode/
.devcontainer
compile_commands.json
.idea/
.vs/

# executables
robosim
roboctrl
simtests

# coverage stuff
*.gcno
*.gcda
coverage.json
cov-report

